@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");

#zen {
	background-color: black;
	max-width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0) 45%, rgb(0, 0, 0) 100%),
		url(https://images.unsplash.com/photo-1436968188282-5dc61aae3d81?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNzc1MDV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MjUxMDE2NjM&ixlib=rb-1.2.1&q=85);
}

#quote-box {
	margin-top: 18rem;
	width: 30rem;
	max-height: max-content;
}

#text {
	font-family: "Benne", Georgia, serif;
	&:before {
		font-size: xx-large;
		content: '" ';
	}

	&:after {
		font-size: xx-large;
		content: '"';
	}
}

#author {
	&:before {
		font-size: x-large;
		content: " - ";
	}
}
